@media screen and (max-width: 767px) {
  .admin-page-container {
    flex-direction: column !important;
    width: 100vw !important;
    justify-content: center !important;
    padding: 1rem !important;
  }

  .users-info {
    flex-direction: column !important;
    width: 100% !important;
    column-gap: 0 !important;
  }

  .numUsers,
  .activeUsers,
  .realUsers,
  .botUsers {
    width: 100% !important;
  }

  .control-users {
    flex-direction: column !important;
    width: 100% !important;
    column-gap: 0 !important;
  }

  .add-bots-form,
  .remove-bots-form,
  .delete-user-form,
  .delete-user-form-card {
    width: 100% !important;
  }
}
