@media screen and (max-width: 767px) {
  .profile-page-container {
    flex-direction: column !important;
    width: 100vw !important;
    justify-content: center !important;
    padding: 1rem !important;
  }

  .user-info-container {
    flex-direction: column !important;
    width: 100% !important;
    column-gap: 0 !important;
  }

  .user-card {
    width: 100% !important;
  }

  .user-info {
    flex-direction: column !important;
    width: 100% !important;
    column-gap: 0 !important;
  }

  .user-data {
    width: 100% !important;
    justify-content: space-between !important;
    column-gap: 1rem !important;
  }

  .height-weight {
    width: 100% !important;
    justify-content: space-around !important;
  }
}
